

.left-content{
	max-width: 350px;
}

.left-main-banner {
	max-width: 350px;
}

.right-content {
	max-width: 600px;
}

.right-main-banner {
	width: 100%;
	margin-bottom: 10px;
}

.right-main-banner img {
	width: 100%;
}

.lower-left, .lower-middle{
	float: left;
	width: 33.3%;
}
.lower-right {	
	float:left;
	width:33.3%;
}


.lower-left .inner {
	padding-right: 10px;
}

.lower-right .inner {
	
}

.lower-middle .inner {
	padding-right:10px;
}

.lower-middle-1, .lower-middle-2, .lower-middle-3 {
	border: 1px solid #696969;
	max-height: 80px;
	overflow: hidden;
}

.lower-middle-1 img, .lower-middle-2 img , .lower-middle-3 img {
	width: 100%;
	height: 100%;
}

.lower-middle-1, .lower-middle-2 {
	margin-bottom: 6px;
}

.rwd-mobile-posts {
	overflow: hidden;
}

.rwd-mobile-posts a {
	text-decoration: none;
}

.rwd-mobile-posts a:hover {
	color:#f2860c;
}

.rwd-mobile-posts .title, .lower-middle-title {
	font-weight: bold;
	max-width: 70%;
	height: 1em;
	line-height: 1.2em;
	overflow: hidden;
	word-break: break-all;
	border-bottom: solid 2px #696969;
	color: #24a1b3;
	padding-bottom: 3px;
}
.lower-middle-title a, .rwd-mobile-posts .title a {
	color: #24a1b3;
}

.lower-middle-title a:hover, .rwd-mobile-posts .title a:hover {
	text-decoration: none;
}
.bottom-bar {
	border-top: solid 1px #696969;
	margin-bottom: 12px;
}

.rwd-mobile-posts .bottom-bar {	
	margin-bottom: 10px;
}

.rwd-mobile-posts .post-items {
	margin: 0;
	padding: 0 10px 0 5px;
	list-style: none;
}

.rwd-mobile-posts .post-items .post-item img {
	margin-right: 7px;
}

.rwd-mobile-posts .post-items .post-item {
	overflow: hidden;
	height: 14px;
	line-height: 14px;
	margin-bottom: 6px;
}


@media (max-width: 975px) {
	.rwd-mobile-posts .post-items .post-item:nth-child(13) {
		display: none;
	}
}

@media (max-width: 900px) {
	.rwd-mobile-posts .post-items .post-item:nth-child(12) {
		display: none;
	}
}

@media (max-width: 800px) {
	.rwd-mobile-posts .post-items .post-item:nth-child(11) {
		display: none;
	}
}

@media (max-width: 730px) {
	.rwd-mobile-posts .post-items .post-item:nth-child(10) {
		display: none;
	}
}

@media (max-width: 640px) {
	.rwd-mobile-posts .post-items .post-item:nth-child(13) {
		display: block;
	}

	.rwd-mobile-posts .post-items .post-item:nth-child(12) {
		display: block;
	}
	
	.rwd-mobile-posts .post-items .post-item:nth-child(11) {
		display: block;
	}	
	
	.rwd-mobile-posts .post-items .post-item:nth-child(10) {
		display: block;
	}
	
	
	.left-content{
		display: none;
	}
	
	.right-main-banner {
		max-width: 100% !important;
	}
	
	.content-divider {
		display: none;
	}
	
	.right-lower-panel .lower-left .inner {
		
	}
}

@media (max-width: 570px) {
	.rwd-mobile-posts .post-items .post-item:nth-child(13) {
		display: none;
	}
}

@media (max-width: 515px) {
	.rwd-mobile-posts .post-items .post-item:nth-child(12) {
		display: none;
	}
}

@media (max-width: 470px) {
	.rwd-mobile-posts .post-items .post-item:nth-child(11) {
		display: none;
	}
}
	
@media (max-width: 430px) {
	.rwd-mobile-posts .post-items .post-item:nth-child(10) {
		display: none;
	}
}

@media (max-width: 400px) {
	.rwd-mobile-posts .post-items .post-item:nth-child(9) {
		display: none;
	}
	
	.rwd-mobile-posts .post-items .post-item:nth-child(8) {
		display: none;
	}
	
	.lower-left, .lower-middle, .lower-right {
		clear: left;
		width: 100%;		
	}
	
	.lower-left .inner, .lower-right .inner{
		border: solid 1px #808080;
		background: #fafafa;
		border-radius: 3px;
	}
	
	.lower-left, .lower-middle {
		margin-bottom: 10px;
	}
	
	.lower-middle .inner{
		padding:0;
	}
	
	.lower-middle .inner img {
		width: 100%;
	}
	
	.lower-left .inner {
		padding: 0 !important;
	}
	
	.lower-right .inner {
		padding: 0 !important;
	}
	
	.lower-title, .lower-middle-title, .rwd-mobile-posts .title {
		padding-bottom: 10px !important;		
		width: 156px!important;		
	}
	
	.right_main_banner_web {
		display: none;
	}
	
	.right_main_banner_mobile {
		display: block !important;
	}
	
	.lower_left_image_web {
		display: none;
	}
	
	.lower_left_image_mobile {
		display: block !important;
	}

}
	

/**lower left**/
.right-lower-panel .lower-left .inner{
	
}

.right-lower-panel .lower-left .lower-title{	
	border-bottom: solid 1px #696969;	
}

.right-lower-panel .lower-left .lower-title{
	height:1em;
	line-height:1.2em;
	overflow:hidden;
	word-break:break-all;
	color:#24a1b3;
	font-weight:bold;
	max-width: 70%;
	border-bottom: solid 2px #696969;
	padding-bottom: 3px;
}

.right-lower-panel .lower-left .lower-title a {
	color: #24a1b3;
}
.right-lower-panel .lower-left .lower-title a:hover {
	text-decoration: none;
}

.right-lower-panel .lower-left .left-first-image-wrapper{	
	padding:0 13px 0 10px;
}

.right-lower-panel .lower-left img{	
	
}

.lower_left_image_mobile {
	display: none;
}

.right_main_banner_mobile {
	display: none;
}
