.header  .logo-wrapper{
	width:36%;
	float:left;
}

.header .inner {
	position: relative;
}

.header .inner .login-signup {
	position: absolute;
	right: 0;
	top: -30px;
	padding: 16px;
	background: #5b9fb9;
	border: solid 1px #487f94;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	color: #ffffff;
}

.header .inner .login-signup a {
	color: #ffffff;
	text-decoration: none;
}

.header  .logo img{
	/*width:100%;*/
}

.header  .text-info{	
	font-size:1.1em;
	font-weight:bold;
	margin:4px 0 10px 0;	
}

.header  .text-info a{
	text-decoration:none;
}

.header  .text-info.tablet{	
	display:none;
}

.header  .text-info .info.call-us{
	color:#fc2847;	
}

.header  .text-info .info.text{
	color:#696969;	
}

.header .right_main_menus{
	margin-top: 3%;
	width: 64%;
	float:left;
}

.header .right_main_menus.below-400px{
	display:none;
}

.header .right_main_menus.below-400px ul{
	margin:0 2.5%;
}

.header .right_main_menus ul{
	text-decoration:none;
	padding:0;
	margin:0;
}

.header .right_main_menus ul li{	
	padding:0;
	margin:0;
	display:inline-block;
	float:left;	
	width:20%;
	position:relative;
	text-align: center;
}

.header .right_main_menus ul li.more-menu {
	display: none;
}


.header .right_main_menus ul li:hover {

}


.header .right_main_menus ul li:hover a {
	background: #f3f7f7;
	border: solid 1px #49ac8d;
	color: #49ac8d;
}


.header .right_main_menus a{
	border: solid 1px transparent;
	font-size:1.3em;
	color:#646464;
	overflow:hidden;
	height: 25px;
	line-height: 15px;
	word-break:break-all;
	text-decoration:none;
	display:inline-block;
	padding: 20px 14px 10px 14px;	
}

.menu-more-640px {
	background: #f7f7f7;
	display: none;
}
.menu-more-640px .inner {
	max-width: 640px;
	margin: 0 auto;
	position: relative;
	padding-bottom: 49px;
}
.menu-more-640px ul {
	margin: 0;
	background: #5b9fb9;
	list-style: none;
	padding: 20px;
}

.menu-more-640px ul li {
	padding: 8px 0;
	border-bottom: solid 1px #ffffff;
}

.menu-more-640px ul li.last-menu {
	border: 0;
}	

.menu-more-640px ul li a {
	color: #ffffff;
	font-size: 15px;
}

.menu-more-640px .close-menu {
	position: absolute;
	bottom: 0;
	right: 0;
	background: #5b9fb9;
	text-align: center;
	padding: 14px 18px;
	color: #ffffff;
	font-size: 18px;
	font-weight: bold;
	border-bottom-left-radius: 5px;
	border-bottom-right-radius: 5px;
	cursor: pointer;
}

