/* FOOTER */
.footer-container {
	width: 100%;
	border-top: solid 2px #5b9fb9;
	background: #f4f9f9;
	padding: 36px 0;
}

.footer-container .footer {
	color: #666666;
}

.footer-container .footer span {
	display: block;
	line-height: 1.5em;
}
.footer-container .footer .footer-contact {
	width: 44%;
	float: left;
}

.footer-container .footer .footer-contact .inner {
	padding: 0 1.563em;
}

.footer-container .footer .footer-contact-title {
	margin-bottom: 0.1em;
	font-weight: bold;
	font-size: 10.5pt;
}

.footer-container .footer .footer-text {

}

.footer-container .footer .footer-text .inner {
	padding-right: 1.563em;
	word-break: break-all;
	text-align: center;
}

.copyright .bottom_text {
	margin-top: 25px;
}

