.layout{
	width:100%;	
	font-family:dotum;
}

.layout .header{
	background-color:#fafafa;
	padding-top: 30px;
	border-bottom:2px solid #5b9fb9;
	padding-bottom: 36px;
}

.layout .header .inner{
	max-width:970px;
	margin:auto;	
}

.layout .container_wrapper {
	padding: 18px 0 10px 0;
	background: #f7f7f7;
}

.layout .container{
	max-width:970px;
	height: auto;
	margin:auto;	
	position: relative;
	min-height: 500px;
}

.container .call_us_bubble {
	/*height: 74px;
	width: 134px; */
	padding: 22px 10px;
	height: 30px;
	width: 115px;
	position: absolute;
	color: #ffffff;
	font-weight: bold;
	font-size: 13px;
	left: -150px;
	top: 0;
	font-size: 12pt;
	font-family: AppleGothic;
	line-height: 15pt;
	white-space: nowrap;
}

.layout .footer{
	max-width:970px;
	margin:auto;
}

.layout .content-table .right-content > div {
	float: left;
	width: 48.25%;
	overflow: hidden;
}

.right-content .inner {
	padding: 15px;
	background: #f4f9f9;
}

.right-forum-container .inner {
	border: solid 1px #5b9fb9;
}

.right-forum-container.forum_one {
	margin-right: 1.75%;
	margin-bottom: 20px;
}

.right-forum-container.forum_two {
	margin-left: 1.75%;
	margin-bottom: 20px;
}

.template-gallery-container {
	width: 48.25%;
	background: #f4f9f9;
	border: solid 1px #5b9fb9;
}

.skin-gallery-container {
	width: 48.25%;
	background: #f4f9f9;
	border: solid 1px #5b9fb9;
}



.right-content .inner .title > a{
	color: #49ac8d;
	font-size: 1.2em;
	font-weight: bold;
	text-decoration: none;
}


.template-gallery-container .inner .title {
	margin-bottom: 10px;
}

.template-gallery-container .inner {
	padding: 15px 15px 7px 15px;
}

.template_gallery-container .template_table td {
}

.template-gallery-container .template_photo {
	max-width: 77px;
	max-height: 75px;
	overflow: hidden;
	position: relative;
	margin-bottom: 10px;
	border: solid 1px #a7ccd9;
}

.template-gallery-container .template_photo img {
	width: 100%;
}

.template-gallery-container .template_photo img.preview-template {
	margin-top: 10px;
	max-width: 40px;
	max-height: 20px;
}

.template-gallery-container .template_photo .template_info {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(91,159,185,0.9);
	text-align: center;
	padding-top: 10px;
	color: #ffffff;
	display: none;
}

.template-gallery-container .template_photo .template_info a {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.skin-gallery-container .title {
	margin-bottom: 10px; 
}

.skin_gallery .skin {
	width: 25%;
	margin-bottom: 8px;
	float: left;

}

.skin_gallery .skin .inner-skin {
	margin: 0 5px;
	position :relative;
	height: 100px;
	overflow: hidden;
	border: solid 1px #5b9fb9;
}


.skin_gallery .skin .inner-skin .skin_name {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: rgba(0,0,0,0.8);
	padding: 5px;
	color: #ffffff;
	font-size: 12px;
	overflow: hidden;
	height: 12px;
	word-break: break-all;
	line-height: 15px;
}

.skin_gallery .skin img {
	width: 100%;
}

.skin-gallery-container .skin_gallery td {
	width: 33%;
}

.skin-gallery-container .skin_gallery .skin-thumb {
	margin-bottom: 7px;
}

.skin-gallery-container .skin_gallery .skin-thumb .inner-skin {
	margin: 0 5px;
	max-height: 75px;
	overflow: hidden;
	border: solid 1px #a7ccd9;
}

.skin-gallery-container .skin_gallery .skin-thumb img {
	width: 100%;
}

.skin-gallery-container .title .more-button, .template-gallery-container .title .more-button {
	float: right;
}

.skin-gallery-container .title .more-button img, .template-gallery-container .title .more-button img{
	position: relative;
	top: -1px;
}

.skin-gallery-container .title .more-button a, .template-gallery-container .title .more-button a {
	color: #5b9fb9;
	font-size: 11px;
	font-weight: normal;
	text-decoration: none;
}

.skin-gallery-container .inner {
	padding: 15px 15px 14px 15px;
}


/**medias**/
@media all and ( max-width: 990px ) {	
	.x-latest-forums-extended-2 ul li:nth-child(8) {
		display: none;
	}
}

@media all and ( max-width: 920px ) {
	.x-latest-forums-extended-2 ul li:nth-child(7) {
		display: none;
	}
}

@media all and ( max-width: 830px ) {
	.x-latest-forums-extended-2 ul li:nth-child(6) {
		display: none;
	}
}

@media all and ( max-width: 750px ) {
	.x-latest-forums-extended-2 ul li:nth-child(5) {
		display: none;
	}
}

@media all and ( max-width: 700px ) {
	.x-latest-forums-extended-2 ul li:nth-child(4) {
		display: none;
	}
}

@media all and ( max-width: 670px ) {
	.x-latest-forums-extended-2 ul li:nth-child(3) {
		display: none;
	}
}

@media all and ( max-width: 970px ) {	
	.left-main-banner img {
		width: 100%;
	}
	.call_us_bubble {
		display: none;
	}
}

@media all and ( max-width: 850px ) {	
	.layout .header  .logo{
	/*width:65.3%;*/
	}

	.layout .header .logo-wrapper .logo img{
		width:100%;
	}
}

@media all and ( max-width: 640px ) {
	.x-latest-forums-extended-2 ul li {
		display: block !important;
	}
	
	.header .inner .login-signup {
		display: none;
	}

	.layout .header{
		padding-top:0;
	}
	
	.layout .header .inner{
		padding-top:20px;
	}
	
	.layout .header  .logo-wrapper{
		width:100%;		
	}

	.layout .header  .logo{
		width:285px;
		float:none;
		margin:0 auto 33px auto;
	}		
	
	.layout .header .right_main_menus{
		width:100%;
		margin:10px 0 17px 0;
	}
	
	.layout .header .right_main_menus.above-400px ul{	
		padding:0 20px;
	}
	
	.layout .header  .text-info{	
		text-align:center;
	}
	
	.layout .header  .text-info.web-browser{	
		display:none;
	}	
	
	.layout .header  .text-info.tablet{	
		display:block;
	}
	
	.layout .header .right_main_menus a{

	}
	
	.skin_gallery .skin {
		width: 33%;
	}

	.header .right_main_menus ul li {
		width: 25%;
	}
	
	.header .right_main_menus ul li a {
		font-size: 15px;
		color: #4d4d4d;
	}
	
	.header .right_main_menus ul li.more-menu {
		display: block;
	}
	

	.header .right_main_menus ul li.menu-3 {
		display: none;
	}	
	
	.header .right_main_menus ul li.menu-4 {
		display: none;
	}	
	
	.layout .header {
		padding-bottom: 0;
	}
}

@media all and ( max-width: 400px ) {
	.header .right_main_menus ul li {
		width: 33%;
	}
	
	.layout .header{
		background-color:#ffffff;
		border:0;
	}
	
	.layout .header .inner{
		background-color:#fafafa;
		border-bottom:1px solid #696969;
	}
	
	.header  .right_main_menus.above-400px{
		display:none;
	}
	
	.header .right_main_menus.below-400px{
		display:block;
	}
	
	.layout .content-table .right-content > div {
		clear: left;
		width: 100%;
	}
	
	.right-forum-container.forum_one  {
		margin: 0 0 20px 0;
	}

	.right-forum-container.forum_two  {
		margin: 0 0 20px 0;
	}

	.skin-gallery-container .skin_gallery td {
		width: 100%;
	}
	
	.skin_gallery .skin {
		width: 50%;
	}
	
	.template-gallery-container .template_photo {
		max-width: 100%;
		max-height: 150px;
	}
	
	.skin-gallery-container .skin_gallery .skin-thumb {
		width: 100%;
	}

	
	table.template_and_skin td {
		display: block;
	}
	
	.template-gallery-container {
		width: auto;
		margin: 0 0 20px 0;
	}

	.skin-gallery-container {
		width: auto;
		margin: 0 0 10px 0;
	}
	
	.skin-gallery-container .skin-thumb .inner-skin {
		width: 100%;
		max-height: 150px !important;
	}
	

}

@media all and ( max-width: 301px ) {
	.layout .header  .logo{
		width:100%;
	}
}